@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
body
{
	background: url(3.jpg);
	height: 100px;
	width: 250px;
}
.card
{
	background: #fff;
	border-radius: 20px;
	height: 320px;
	width: 350px;
	align-content: center;
	display: flex;
	padding: 10px 30px;
	transform: translateX(350px) translateY(150px);
	transition: 0.5s;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
}
.sukuna img
{
	height: 550px;
	transform: translateX(350px) translateY(-100px);
	transition: 0.9s;
}
.card .imgBx
{
	position: absolute;
	left: 50%;
	top: 15px;
	transform: translateX(-50%);
	width: 150px;
	height: 150px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	transition: 0.5s;
	z-index: 10;
}
.card .imgBx img
{
	width: 150px;
	height: 150px;
}
.content 
{
	text-align: center;
	font-size: 1em;
	font-weight: 800;
	padding: 180px 80px;
	position: fixed;
	transition: 0.5s;
}
.content h2
{
	font-weight: 900;
}
.content p 
{
	opacity: 80%;
}
.card:hover
{
	width: 800px;
	transform: translateX(150px)translateY(150px);
}
.card:hover .content
{
	transform: translateY(-180px)translateX(210px);
}
.card:hover .sukuna img
{
	transform: translateX(-50px) translateY(-10px);
	transition: 0.8s;
}
.card:hover .imgBx
{
	transform: translateY(20px)translateX(210px);
}
.links
{
	justify-content: space-between;
}
.links a img 
{
	height: 50px;
	width: 50px;
	transform: translateY(200px) translateX(80px);
	transition: 0.4s;
	opacity: 0%;
	justify-content: space-between;
}
.links2 a img 
{
	height: 50px;
	width: 50px;
	transform: translateY(200px) translateX(120px);
	transition: 0.4s;
	opacity: 0%;
	justify-content: space-between;
}
.card a img:hover
{
	height: 55px;
	width: 55px;
	transition: 0.3s;
}
.card:hover .links a img
{
	opacity: 100%;
	transform: translateY(200px) translateX(280px);
}
.card:hover .links2 a img
{
	opacity: 100%;
	transform: translateY(200px) translateX(320px);
}
.about h3
{
	font-weight: 600;
	transform: translateX(-180px) translateY(80px);
	overflow: hidden;
	opacity: 0%;
	transition: 0.6s;
	font-size: 1.1em;
}
.card:hover .about h3
{
	opacity: 100%;
}
.page2
{
	position: absolute;
	left: 50%;
	top: 15px;
	transform: translateX(-35%) translateY(740px);
	width: 950px;
	height: 515px;
	background: #fff;
	border-radius: 20px;
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
	overflow: hidden;
	transition: 0.5s;
	z-index: 10;
	transition-timing-function: ease-out;
}
.footer
{
	background: #fff;
	width: 1200px;
	padding: 15px 20px;
	transform: translateY(1010px) translateX(100px);
	box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
}
h4
{
	text-align: center;
	font-weight: 800;
}
.footer span
{
	color: #ff0000;
}
.sideline h5
{
	font-size: 3em;
	font-weight: 900;
	transform: translateY(500px) translateX(80px);
	color: 	#000;
	text-shadow: 2px 5px 3px rgba(0,0,0,0.3);
	text-shadow: 4px 3px 0px whitesmoke;, 9px 8px 0px rgba(0,0,0,0.20);
	text-shadow: 2px 5px 3px rgba(0,0,1,0.3);
	text-shadow: 4px 3px 0px whitesmoke;, 9px 8px 0px rgba(0,0,0,0.20);
}

@media only screen and (max-width: 600px)
{
	body
	{
		overflow-x: hidden;
	}
	.card
	{
		height: 650px;
		width: 650px;
		transform: translateX(20px) translateY(180px);

	}
	.card .imgBx  
	{
		transform: translateY(50px) translateX(-120px);
		height: 250px;
		width: 250px;
	}
	.card .imgBx img
	{
		height: 250px;
		width: 250px;
	}
	h2
	{
		transform: translateY(180px) translateX(90px);
		font-size: 3em;
	}
	p
	{
		transform: translateY(180px)translateX(90px);
		font-size: 2em;
	}
	.about h3
	{
		font-size: 2em;
		font-weight: 800;
		transform: translateY(150px) translateX(-300px);
		margin: auto;
		padding: 10px 20px;
		text-align: center;
	}
	.sukuna img 
	{
		transform: translateY(300px) translateX(-120px);
		transition: 0.5s;
	}
	.card:hover
	{
		height: 800px;
		width: 950px;
		transform: translateX(-180px) translateY(220px);
	}
	.card:hover .imgBx  
	{
		transform: translateX(-150px) translateY(450px);
		opacity: 0;
	}
	.card:hover .content
	{
		transform: translateY(-350px) translateX(60px);

	}
	.card:hover .sukuna img 
	{
		transform: translateX(520px) translateY(80px) ;
		transition: 0.4s;
	}
	.card:hover .links a img{
		transform: translateY(250px);
	}
	.card:hover .links a img{
		transform: translateY(710px) translateX(-80px);
		height: 60px;
		width: 60px;
	}
	.card:hover .links2 a img{
		transform: translateY(710px) translateX(20px);
		height: 60px;
		width: 60px;
	}
	.sideline h5
	{
		transform: translateY(380px)translateX(-20px);
		font-size: 3em;
		color: #ff0000;
		width: 700px;
		text-align: center;
		justify-content: center;
	}
	.page2
	{
		transform: translateY(1300px) translateX(-220px);
		height: 450px;
		width: 650px;
	}
	.page2 iframe
	{
		height: 450px;
		width: 650px;
	}
	.footer
	{
		transform: translateY(1400px) translateX(-15px);
		width: 700px;
	}
}